[Unit]
Description=Tobira-Auth service
Documentation=https://github.com/elan-ev/tobira-auth-callback-service/
Wants=network.target
After=network-online.target

[Service]
Type=exec
#User=tobiraauth
#Group=tobiraauth
WorkingDirectory=/opt/tobira-auth/src
Environment=PYTHONPATH=/opt/tobira-auth/src:$PYTHONPATH
EnvironmentFile=/opt/tobira-auth/conf/tobira-auth.env
ExecStart=/opt/tobira-auth/venv/bin/sanic tobiraauth.server:create_app --no-motd
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target default.target
