[Unit]
Description=Tobira-Auth Callback Service
Documentation=https://github.com/elan-ev/tobira-auth-callback-service
Wants=network.target
After=network-online.target

[Service]
Type=exec
#User=tobiraauth
#Group=tobiraauth
WorkingDirectory=/opt/tobira-auth
EnvironmentFile=/etc/default/tobira-auth.env
ExecStart=/opt/tobira-auth/bin/sanic tobiraauth.server:create_app --no-motd
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target default.target
